<div class="idea-cards">
  <% suggestions.forEach((idea, i) => { %>
    <div class="idea-card sticky-note sticky-<%= ['yellow', 'pink', 'blue'][i % 3] %> fade-in">
      <span class="idea-category"><%= idea.category %></span>
      <h3><%= idea.title %></h3>
      <p><%= idea.description %></p>
      <form hx-post="/ideas/adopt"
            hx-target="closest .idea-card"
            hx-swap="outerHTML">
        <input type="hidden" name="title" value="<%= idea.title %>">
        <input type="hidden" name="description" value="<%= idea.description %>">
        <div class="form-row">
          <select name="assignedTo" class="select-sm">
            <option value="">Assign to...</option>
            <% members.forEach(m => { %>
              <option value="<%= m.id %>"><%= m.display_name %></option>
            <% }) %>
          </select>
          <button type="submit" class="btn btn-primary btn-sm">Add to Tasks</button>
        </div>
      </form>
    </div>
  <% }) %>
</div>
